* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: block;
  height: 100vh;
  border-style: solid;
  border-width: 8px;
  border-color: #ffcd93;
  background-color: #f7f6d2;
}

#root {
  height: 100%;
}